/* .product-button{
  visibility: hidden;
}
.product-card:hover .product-button{
  visibility: visible;
} */
.card:hover{
  cursor: pointer;
}
.card-img{
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}

@media screen and (max-width:650px) {
  .product-button{
    visibility: visible;
  }
}